:root {
  --eds-colour-action-bg-basic-main-default: #ffffff;
  --eds-colour-action-bg-basic-main-hover: #f6f7fa;
  --eds-colour-action-bg-basic-main-focus: #f6f7fa;
  --eds-colour-action-bg-basic-main-active: #edeef1;
  --eds-colour-action-bg-basic-alternative-default: #f6f7fa;
  --eds-colour-action-bg-basic-alternative-hover: #edeef1;
  --eds-colour-action-bg-basic-alternative-focus: #edeef1;
  --eds-colour-action-bg-basic-alternative-active: #f6f7fa;
  --eds-colour-action-bg-accent-default: #008834;
  --eds-colour-action-bg-accent-hover: #007e30;
  --eds-colour-action-bg-accent-focus: #007e30;
  --eds-colour-action-bg-accent-active: #006527;
  --eds-colour-action-bg-button-primary-default: #008834;
  --eds-colour-action-bg-button-primary-hover: #007e30;
  --eds-colour-action-bg-button-primary-focus: #007e30;
  --eds-colour-action-bg-button-primary-active: #006527;
  --eds-colour-action-bg-button-secondary-hover: #edeef1;
  --eds-colour-action-bg-button-secondary-focus: #edeef1;
  --eds-colour-action-bg-button-secondary-active: #f6f7fa;
  --eds-colour-action-bg-button-tertiary-hover: #edeef1;
  --eds-colour-action-bg-button-tertiary-focus: #edeef1;
  --eds-colour-action-bg-button-tertiary-active: #f6f7fa;
  --eds-colour-action-bg-button-alert-default: #fee3e8;
  --eds-colour-action-bg-button-alert-hover: #fdacbb;
  --eds-colour-action-bg-button-alert-focus: #fdacbb;
  --eds-colour-action-bg-button-alert-active: #fee3e8;
  --eds-colour-action-bg-button-invert-primary-default: #ffffff;
  --eds-colour-action-bg-button-invert-primary-hover: #e9f9e9;
  --eds-colour-action-bg-button-invert-primary-focus: #e9f9e9;
  --eds-colour-action-bg-button-invert-primary-active: #bdf0bb;
  --eds-colour-action-bg-button-invert-tertiary-hover: #007e30;
  --eds-colour-action-bg-button-invert-tertiary-focus: #007e30;
  --eds-colour-action-bg-button-invert-tertiary-active: #006527;
  --eds-colour-action-bg-quicklink-default: #ffffff;
  --eds-colour-action-bg-quicklink-hover: #007e30;
  --eds-colour-action-bg-quicklink-focus: #007e30;
  --eds-colour-action-bg-quicklink-active: #006527;
  --eds-colour-action-bg-form-default: #ffffff;
  --eds-colour-action-bg-form-hover: #ffffff;
  --eds-colour-action-bg-form-focus: #ffffff;
  --eds-colour-action-bg-form-active: #ffffff;
  --eds-colour-action-text-button-primary-default: #ffffff;
  --eds-colour-action-text-button-primary-hover: #ffffff;
  --eds-colour-action-text-button-primary-focus: #ffffff;
  --eds-colour-action-text-button-primary-active: #ffffff;
  --eds-colour-action-text-button-secondary-default: #60636c;
  --eds-colour-action-text-button-secondary-hover: #41444c;
  --eds-colour-action-text-button-secondary-focus: #41444c;
  --eds-colour-action-text-button-secondary-active: #1a1c22;
  --eds-colour-action-text-button-tertiary-default: #1c68d9;
  --eds-colour-action-text-button-tertiary-hover: #1759bd;
  --eds-colour-action-text-button-tertiary-focus: #1759bd;
  --eds-colour-action-text-button-tertiary-active: #114491;
  --eds-colour-action-text-button-alert-default: #c10527;
  --eds-colour-action-text-button-alert-hover: #8a041c;
  --eds-colour-action-text-button-alert-focus: #8a041c;
  --eds-colour-action-text-button-alert-active: #8a041c;
  --eds-colour-action-text-button-invert-primary-default: #007e30;
  --eds-colour-action-text-button-invert-primary-hover: #006527;
  --eds-colour-action-text-button-invert-primary-focus: #006527;
  --eds-colour-action-text-button-invert-primary-active: #004c1d;
  --eds-colour-action-text-button-invert-secondary-default: #ffffff;
  --eds-colour-action-text-button-invert-secondary-hover: #ffffff;
  --eds-colour-action-text-button-invert-secondary-focus: #ffffff;
  --eds-colour-action-text-button-invert-secondary-active: #ffffff;
  --eds-colour-action-text-button-invert-tertiary-default: #e9f9e9;
  --eds-colour-action-text-button-invert-tertiary-hover: #ffffff;
  --eds-colour-action-text-button-invert-tertiary-focus: #ffffff;
  --eds-colour-action-text-button-invert-tertiary-active: #e9f9e9;
  --eds-colour-action-text-on-basic-default: #60636c;
  --eds-colour-action-text-on-basic-headline-default: #1a1c22;
  --eds-colour-action-text-on-basic-headline-hover: #41444c;
  --eds-colour-action-text-on-basic-headline-focus: #41444c;
  --eds-colour-action-text-on-basic-headline-active: #1a1c22;
  --eds-colour-action-text-on-basic-hover: #41444c;
  --eds-colour-action-text-on-basic-focus: #41444c;
  --eds-colour-action-text-on-basic-active: #1a1c22;
  --eds-colour-action-text-link-default: #1c68d9;
  --eds-colour-action-text-link-hover: #1759bd;
  --eds-colour-action-text-link-focus: #1759bd;
  --eds-colour-action-text-link-active: #114491;
  --eds-colour-action-text-link-invert-default: #85b5fd;
  --eds-colour-action-text-link-invert-hover: #b8d4ff;
  --eds-colour-action-text-link-invert-focus: #b8d4ff;
  --eds-colour-action-text-link-invert-active: #cde1fe;
  --eds-colour-action-text-link-footer-default: #c0c1c5;
  --eds-colour-action-text-link-footer-hover: #5bd06a;
  --eds-colour-action-text-link-footer-focus: #5bd06a;
  --eds-colour-action-text-link-footer-active: #007e30;
  --eds-colour-action-icon-button-primary-default: #ffffff;
  --eds-colour-action-icon-button-primary-hover: #ffffff;
  --eds-colour-action-icon-button-primary-focus: #ffffff;
  --eds-colour-action-icon-button-primary-active: #ffffff;
  --eds-colour-action-icon-button-secondary-default: #60636c;
  --eds-colour-action-icon-button-secondary-hover: #31343c;
  --eds-colour-action-icon-button-secondary-focus: #31343c;
  --eds-colour-action-icon-button-secondary-active: #24262d;
  --eds-colour-action-icon-button-tertiary-default: #1c68d9;
  --eds-colour-action-icon-button-tertiary-hover: #1759bd;
  --eds-colour-action-icon-button-tertiary-focus: #1759bd;
  --eds-colour-action-icon-button-tertiary-active: #114491;
  --eds-colour-action-icon-button-alert-default: #c10527;
  --eds-colour-action-icon-button-alert-hover: #8a041c;
  --eds-colour-action-icon-button-alert-focus: #8a041c;
  --eds-colour-action-icon-button-alert-active: #8a041c;
  --eds-colour-action-icon-button-invert-primary-default: #00973a;
  --eds-colour-action-icon-button-invert-primary-hover: #006527;
  --eds-colour-action-icon-button-invert-primary-focus: #006527;
  --eds-colour-action-icon-button-invert-primary-active: #004c1d;
  --eds-colour-action-icon-button-invert-secondary-default: #ffffff;
  --eds-colour-action-icon-button-invert-secondary-hover: #9ce89a;
  --eds-colour-action-icon-button-invert-secondary-focus: #9ce89a;
  --eds-colour-action-icon-button-invert-secondary-active: #ffffff;
  --eds-colour-action-icon-button-invert-tertiary-default: #ffffff;
  --eds-colour-action-icon-button-invert-tertiary-hover: #9ce89a;
  --eds-colour-action-icon-button-invert-tertiary-focus: #9ce89a;
  --eds-colour-action-icon-button-invert-tertiary-active: #ffffff;
  --eds-colour-action-icon-on-basic-default: #60636c;
  --eds-colour-action-icon-on-basic-hover: #31343c;
  --eds-colour-action-icon-on-basic-focus: #31343c;
  --eds-colour-action-icon-on-basic-active: #24262d;
  --eds-colour-action-icon-on-basic-invert-default: #ffffff;
  --eds-colour-action-icon-on-basic-invert-hover: #5bd06a;
  --eds-colour-action-icon-on-basic-invert-focus: #5bd06a;
  --eds-colour-action-icon-on-basic-invert-active: #00973a;
  --eds-colour-action-icon-accent-default: #00973a;
  --eds-colour-action-icon-accent-hover: #006527;
  --eds-colour-action-icon-accent-focus: #006527;
  --eds-colour-action-icon-accent-active: #004c1d;
  --eds-colour-action-icon-link-default: #1c68d9;
  --eds-colour-action-icon-link-hover: #1759bd;
  --eds-colour-action-icon-link-focus: #1759bd;
  --eds-colour-action-icon-link-active: #114491;
  --eds-colour-action-icon-link-invert-default: #85b5fd;
  --eds-colour-action-icon-link-invert-hover: #b8d4ff;
  --eds-colour-action-icon-link-invert-focus: #b8d4ff;
  --eds-colour-action-icon-link-invert-active: #cde1fe;
  --eds-colour-action-icon-only-button-primary-default: #ffffff;
  --eds-colour-action-icon-only-button-primary-hover: #ffffff;
  --eds-colour-action-icon-only-button-primary-focus: #ffffff;
  --eds-colour-action-icon-only-button-primary-active: #ffffff;
  --eds-colour-action-icon-only-button-secondary-default: #60636c;
  --eds-colour-action-icon-only-button-secondary-hover: #31343c;
  --eds-colour-action-icon-only-button-secondary-focus: #31343c;
  --eds-colour-action-icon-only-button-secondary-active: #24262d;
  --eds-colour-action-icon-only-button-tertiary-default: #60636c;
  --eds-colour-action-icon-only-button-tertiary-hover: #31343c;
  --eds-colour-action-icon-only-button-tertiary-focus: #31343c;
  --eds-colour-action-icon-only-button-tertiary-active: #24262d;
  --eds-colour-action-icon-only-button-alert-default: #c10527;
  --eds-colour-action-icon-only-button-alert-hover: #8a041c;
  --eds-colour-action-icon-only-button-alert-focus: #8a041c;
  --eds-colour-action-icon-only-button-alert-active: #8a041c;
  --eds-colour-action-icon-only-button-invert-primary-default: #00973a;
  --eds-colour-action-icon-only-button-invert-primary-hover: #006527;
  --eds-colour-action-icon-only-button-invert-primary-focus: #006527;
  --eds-colour-action-icon-only-button-invert-primary-active: #004c1d;
  --eds-colour-action-icon-only-button-invert-secondary-default: #ffffff;
  --eds-colour-action-icon-only-button-invert-secondary-hover: #e9f9e9;
  --eds-colour-action-icon-only-button-invert-secondary-focus: #e9f9e9;
  --eds-colour-action-icon-only-button-invert-secondary-active: #ffffff;
  --eds-colour-action-icon-only-button-invert-tertiary-default: #ffffff;
  --eds-colour-action-icon-only-button-invert-tertiary-hover: #9ce89a;
  --eds-colour-action-icon-only-button-invert-tertiary-focus: #9ce89a;
  --eds-colour-action-icon-only-button-invert-tertiary-active: #ffffff;
  --eds-colour-action-stroke-button-secondary-default: #7e818a;
  --eds-colour-action-stroke-button-secondary-hover: #4f525a;
  --eds-colour-action-stroke-button-secondary-focus: #4f525a;
  --eds-colour-action-stroke-button-secondary-active: #24262d;
  --eds-colour-action-stroke-button-invert-secondary-default: #ffffff;
  --eds-colour-action-stroke-button-invert-secondary-hover: #9ce89a;
  --eds-colour-action-stroke-button-invert-secondary-focus: #9ce89a;
  --eds-colour-action-stroke-button-invert-secondary-active: #ffffff;
  --eds-colour-action-stroke-divider-default: #dfe0e3;
  --eds-colour-action-stroke-divider-hover: #4f525a;
  --eds-colour-action-stroke-divider-focus: #4f525a;
  --eds-colour-action-stroke-divider-active: #24262d;
  --eds-colour-action-stroke-shadow-container-default: #ffffff;
  --eds-colour-action-stroke-shadow-container-hover: #ffffff;
  --eds-colour-action-stroke-shadow-container-focus: #ffffff;
  --eds-colour-action-stroke-shadow-container-active: #ffffff;
  --eds-colour-action-stroke-form-default: #dfe0e3;
  --eds-colour-action-stroke-form-hover: #b0b1b5;
  --eds-colour-action-stroke-form-focus: #b0b1b5;
  --eds-colour-action-stroke-form-active: #7e818a;
  --eds-colour-static-bg-basic-main: #ffffff;
  --eds-colour-static-bg-basic-alternative: #f6f7fa;
  --eds-colour-static-bg-basic-higher: #edeef1;
  --eds-colour-static-bg-basic-invert-main: #1a1c22;
  --eds-colour-static-bg-basic-invert-alternative: #24262d;
  --eds-colour-static-bg-basic-invert-higher: #15171d;
  --eds-colour-static-bg-accent-main: #008834;
  --eds-colour-static-bg-accent-alternative: #007e30;
  --eds-colour-static-bg-alert-main: #fee3e8;
  --eds-colour-static-bg-alert-alternative: #fdacbb;
  --eds-colour-static-bg-warning-main: #fff5e3;
  --eds-colour-static-bg-warning-alternative: #ffe2aa;
  --eds-colour-static-bg-success-main: #f0fbe7;
  --eds-colour-static-bg-success-alternative: #d1f2b7;
  --eds-colour-static-bg-table-header: #edeef1;
  --eds-colour-static-bg-table-cell: #ffffff;
  --eds-colour-static-bg-table-cell-zebra: #f6f7fa;
  --eds-colour-static-text-on-basic-headline: #1a1c22;
  --eds-colour-static-text-on-basic-body: #41444c;
  --eds-colour-static-text-on-basic-supportive: #60636c;
  --eds-colour-static-text-on-basic-accent: #007e30;
  --eds-colour-static-text-on-basic-highlighted: #1a1c22;
  --eds-colour-static-text-on-basic-invert-headline: #ffffff;
  --eds-colour-static-text-on-basic-invert-body: #dfe0e3;
  --eds-colour-static-text-on-basic-invert-supportive: #c0c1c5;
  --eds-colour-static-text-on-basic-invert-accent: #5bd06a;
  --eds-colour-static-text-on-basic-invert-highlighted: #ffffff;
  --eds-colour-static-text-on-accent-headline: #ffffff;
  --eds-colour-static-text-on-accent-body: #ffffff;
  --eds-colour-static-text-on-accent-supportive: #ffffff;
  --eds-colour-static-text-alert-headline: #8a041c;
  --eds-colour-static-text-alert-body: #8a041c;
  --eds-colour-static-text-alert-supportive: #c10527;
  --eds-colour-static-text-warning-headline: #6f4200;
  --eds-colour-static-text-warning-body: #6f4200;
  --eds-colour-static-text-warning-supportive: #a76400;
  --eds-colour-static-text-success-headline: #27480d;
  --eds-colour-static-text-success-body: #27480d;
  --eds-colour-static-text-success-supportive: #417815;
  --eds-colour-static-icon-on-basic-main: #60636c;
  --eds-colour-static-icon-on-basic-accent: #00973a;
  --eds-colour-static-icon-on-basic-invert-main: #c0c1c5;
  --eds-colour-static-icon-on-basic-invert-accent: #3dbe58;
  --eds-colour-static-icon-on-accent-main: #9ce89a;
  --eds-colour-static-icon-on-accent-alternative: #ffffff;
  --eds-colour-static-icon-alert-main: #c10527;
  --eds-colour-static-icon-warning-main: #a76400;
  --eds-colour-static-icon-success-main: #417815;
  --eds-colour-static-stroke-on-basic-divider: #dfe0e3;
  --eds-colour-static-stroke-on-basic-container: #dfe0e3;
  --eds-colour-static-stroke-on-basic-accent: #007e30;
  --eds-colour-static-stroke-on-basic-invert-divider: #a0a2a7;
  --eds-colour-static-stroke-on-basic-invert-container: #a0a2a7;
  --eds-colour-static-stroke-on-basic-invert-accent: #3dbe58;
  --eds-colour-static-stroke-on-accent-divider: #9ce89a;
  --eds-colour-static-stroke-on-accent-container: #9ce89a;
  --eds-colour-static-stroke-on-accent-highlighted: #ffffff;
  --eds-colour-static-stroke-table-divider: #edeef1;
  --eds-colour-static-stroke-alert-main: #c10527;
  --eds-colour-static-stroke-warning-main: #a76400;
  --eds-colour-static-stroke-success-main: #417815;
  --eds-stroke-table-main: 1px;
  --eds-stroke-divider-main: 1px;
  --eds-stroke-divider-strong: 2px;
  --eds-radius-none: 0px;
  --eds-radius-minimum: 2px;
  --eds-radius-small: 4px;
  --eds-radius-main: 8px;
  --eds-radius-modal: 16px;
  --eds-radius-full: 999px;
  --eds-grid-breakpoint-mobile-320: 320px;
  --eds-grid-breakpoint-mobile-390: 390px;
  --eds-grid-breakpoint-tablet-768: 768px;
  --eds-grid-breakpoint-tablet-1024: 1024px;
  --eds-grid-breakpoint-desktop-1440: 1440px;
  --eds-grid-breakpoint-desktop-1680: 1680px;
  --eds-grid-breakpoint-desktop-1920: 1920px;
  --eds-grid-gutter-bp-320-1023: 16px;
  --eds-grid-gutter-bp-1024-1920: 24px;
  --eds-grid-margin-bp-320-359: 16px;
  --eds-grid-margin-bp-360-767: 20px;
  --eds-grid-margin-bp-768-1023: 32px;
  --eds-grid-margin-bp-1024-1151: 32px;
  --eds-grid-margin-bp-1152-1920: 88px;
  --eds-grid-container-max-width: 1416px;
  --eds-spacing-none: 0px;
  --eds-spacing-small-1: 2px;
  --eds-spacing-small-2: 4px;
  --eds-spacing-small-3: 6px;
  --eds-spacing-small-4: 8px;
  --eds-spacing-small-5: 12px;
  --eds-spacing-medium-1: 16px;
  --eds-spacing-medium-2: 20px;
  --eds-spacing-medium-3: 24px;
  --eds-spacing-medium-4: 32px;
  --eds-spacing-medium-5: 36px;
  --eds-spacing-medium-6: 40px;
  --eds-spacing-medium-7: 44px;
  --eds-spacing-medium-8: 48px;
  --eds-spacing-large-1: 56px;
  --eds-spacing-large-2: 80px;
  --eds-spacing-large-3: 88px;
  --eds-spacing-large-4: 96px;
  --eds-spacing-large-5: 128px;
  --heading-desktop-display-font-family: Inter;
  --heading-desktop-display-font-weight: 300;
  --heading-desktop-display-line-height: 4.5rem;
  --heading-desktop-display-font-size: 4rem;
  --heading-desktop-display-letter-spacing: -0.03em;
  --heading-desktop-display-paragraph-spacing: 0;
  --heading-desktop-display-paragraph-indent: 0;
  --heading-desktop-display-text-case: none;
  --heading-desktop-display-text-decoration: none;
  --heading-desktop-h1-font-family: Inter;
  --heading-desktop-h1-font-weight: 300;
  --heading-desktop-h1-line-height: 3.5rem;
  --heading-desktop-h1-font-size: 3rem;
  --heading-desktop-h1-letter-spacing: -0.01em;
  --heading-desktop-h1-paragraph-spacing: 0;
  --heading-desktop-h1-paragraph-indent: 0;
  --heading-desktop-h1-text-case: none;
  --heading-desktop-h1-text-decoration: none;
  --heading-desktop-h2-font-family: Inter;
  --heading-desktop-h2-font-weight: 600;
  --heading-desktop-h2-line-height: 2.75rem;
  --heading-desktop-h2-font-size: 2.25rem;
  --heading-desktop-h2-letter-spacing: -0.01em;
  --heading-desktop-h2-paragraph-spacing: 0;
  --heading-desktop-h2-paragraph-indent: 0;
  --heading-desktop-h2-text-case: none;
  --heading-desktop-h2-text-decoration: none;
  --heading-desktop-h3-font-family: Inter;
  --heading-desktop-h3-font-weight: 600;
  --heading-desktop-h3-line-height: 2rem;
  --heading-desktop-h3-font-size: 1.75rem;
  --heading-desktop-h3-letter-spacing: 0em;
  --heading-desktop-h3-paragraph-spacing: 0;
  --heading-desktop-h3-paragraph-indent: 0;
  --heading-desktop-h3-text-case: none;
  --heading-desktop-h3-text-decoration: none;
  --heading-desktop-h4-font-family: Inter;
  --heading-desktop-h4-font-weight: 600;
  --heading-desktop-h4-line-height: 1.75rem;
  --heading-desktop-h4-font-size: 1.5rem;
  --heading-desktop-h4-letter-spacing: 0em;
  --heading-desktop-h4-paragraph-spacing: 0;
  --heading-desktop-h4-paragraph-indent: 0;
  --heading-desktop-h4-text-case: none;
  --heading-desktop-h4-text-decoration: none;
  --heading-desktop-h5-font-family: Inter;
  --heading-desktop-h5-font-weight: 600;
  --heading-desktop-h5-line-height: 1.5rem;
  --heading-desktop-h5-font-size: 1.25rem;
  --heading-desktop-h5-letter-spacing: 0em;
  --heading-desktop-h5-paragraph-spacing: 0;
  --heading-desktop-h5-paragraph-indent: 0;
  --heading-desktop-h5-text-case: none;
  --heading-desktop-h5-text-decoration: none;
  --heading-desktop-h6-font-family: Inter;
  --heading-desktop-h6-font-weight: 600;
  --heading-desktop-h6-line-height: 1.5rem;
  --heading-desktop-h6-font-size: 1.125rem;
  --heading-desktop-h6-letter-spacing: 0em;
  --heading-desktop-h6-paragraph-spacing: 0;
  --heading-desktop-h6-paragraph-indent: 0;
  --heading-desktop-h6-text-case: none;
  --heading-desktop-h6-text-decoration: none;
  --heading-desktop-leadtext-font-family: Inter;
  --heading-desktop-leadtext-font-weight: 300;
  --heading-desktop-leadtext-line-height: 2rem;
  --heading-desktop-leadtext-font-size: 1.5rem;
  --heading-desktop-leadtext-letter-spacing: 0em;
  --heading-desktop-leadtext-paragraph-spacing: 0;
  --heading-desktop-leadtext-paragraph-indent: 0;
  --heading-desktop-leadtext-text-case: none;
  --heading-desktop-leadtext-text-decoration: none;
  --heading-desktop-subheadline-font-family: Inter;
  --heading-desktop-subheadline-font-weight: 700;
  --heading-desktop-subheadline-line-height: 1.25rem;
  --heading-desktop-subheadline-font-size: 1rem;
  --heading-desktop-subheadline-letter-spacing: 0.01em;
  --heading-desktop-subheadline-paragraph-spacing: 0;
  --heading-desktop-subheadline-paragraph-indent: 0;
  --heading-desktop-subheadline-text-case: uppercase;
  --heading-desktop-subheadline-text-decoration: none;
  --heading-mobile-display-font-family: Inter;
  --heading-mobile-display-font-weight: 300;
  --heading-mobile-display-line-height: 3.5rem;
  --heading-mobile-display-font-size: 3rem;
  --heading-mobile-display-letter-spacing: -0.03em;
  --heading-mobile-display-paragraph-spacing: 0;
  --heading-mobile-display-paragraph-indent: 0;
  --heading-mobile-display-text-case: none;
  --heading-mobile-display-text-decoration: none;
  --heading-mobile-h1-font-family: Inter;
  --heading-mobile-h1-font-weight: 300;
  --heading-mobile-h1-line-height: 2.25rem;
  --heading-mobile-h1-font-size: 2rem;
  --heading-mobile-h1-letter-spacing: -0.01em;
  --heading-mobile-h1-paragraph-spacing: 0;
  --heading-mobile-h1-paragraph-indent: 0;
  --heading-mobile-h1-text-case: none;
  --heading-mobile-h1-text-decoration: none;
  --heading-mobile-h2-font-family: Inter;
  --heading-mobile-h2-font-weight: 600;
  --heading-mobile-h2-line-height: 2.25rem;
  --heading-mobile-h2-font-size: 1.75rem;
  --heading-mobile-h2-letter-spacing: 0em;
  --heading-mobile-h2-paragraph-spacing: 0;
  --heading-mobile-h2-paragraph-indent: 0;
  --heading-mobile-h2-text-case: none;
  --heading-mobile-h2-text-decoration: none;
  --heading-mobile-h3-font-family: Inter;
  --heading-mobile-h3-font-weight: 600;
  --heading-mobile-h3-line-height: 2rem;
  --heading-mobile-h3-font-size: 1.5rem;
  --heading-mobile-h3-letter-spacing: 0em;
  --heading-mobile-h3-paragraph-spacing: 0;
  --heading-mobile-h3-paragraph-indent: 0;
  --heading-mobile-h3-text-case: none;
  --heading-mobile-h3-text-decoration: none;
  --heading-mobile-h4-font-family: Inter;
  --heading-mobile-h4-font-weight: 600;
  --heading-mobile-h4-line-height: 1.75rem;
  --heading-mobile-h4-font-size: 1.25rem;
  --heading-mobile-h4-letter-spacing: 0em;
  --heading-mobile-h4-paragraph-spacing: 0;
  --heading-mobile-h4-paragraph-indent: 0;
  --heading-mobile-h4-text-case: none;
  --heading-mobile-h4-text-decoration: none;
  --heading-mobile-h5-font-family: Inter;
  --heading-mobile-h5-font-weight: 600;
  --heading-mobile-h5-line-height: 1.5rem;
  --heading-mobile-h5-font-size: 1.125rem;
  --heading-mobile-h5-letter-spacing: 0em;
  --heading-mobile-h5-paragraph-spacing: 0;
  --heading-mobile-h5-paragraph-indent: 0;
  --heading-mobile-h5-text-case: none;
  --heading-mobile-h5-text-decoration: none;
  --heading-mobile-h6-font-family: Inter;
  --heading-mobile-h6-font-weight: 600;
  --heading-mobile-h6-line-height: 1.25rem;
  --heading-mobile-h6-font-size: 1rem;
  --heading-mobile-h6-letter-spacing: 0em;
  --heading-mobile-h6-paragraph-spacing: 0;
  --heading-mobile-h6-paragraph-indent: 0;
  --heading-mobile-h6-text-case: none;
  --heading-mobile-h6-text-decoration: none;
  --heading-mobile-leadtext-font-family: Inter;
  --heading-mobile-leadtext-font-weight: 300;
  --heading-mobile-leadtext-line-height: 2rem;
  --heading-mobile-leadtext-font-size: 1.25rem;
  --heading-mobile-leadtext-letter-spacing: 0em;
  --heading-mobile-leadtext-paragraph-spacing: 0;
  --heading-mobile-leadtext-paragraph-indent: 0;
  --heading-mobile-leadtext-text-case: none;
  --heading-mobile-leadtext-text-decoration: none;
  --heading-mobile-subheadline-font-family: Inter;
  --heading-mobile-subheadline-font-weight: 700;
  --heading-mobile-subheadline-line-height: 1rem;
  --heading-mobile-subheadline-font-size: 0.75rem;
  --heading-mobile-subheadline-letter-spacing: 0.01em;
  --heading-mobile-subheadline-paragraph-spacing: 0;
  --heading-mobile-subheadline-paragraph-indent: 0;
  --heading-mobile-subheadline-text-case: uppercase;
  --heading-mobile-subheadline-text-decoration: none;
  --text-p-small-400-font-family: Inter;
  --text-p-small-400-font-weight: 400;
  --text-p-small-400-line-height: 1.5rem;
  --text-p-small-400-font-size: 0.875rem;
  --text-p-small-400-letter-spacing: 0em;
  --text-p-small-400-paragraph-spacing: 1rem;
  --text-p-small-400-paragraph-indent: 0;
  --text-p-small-400-text-case: none;
  --text-p-small-400-text-decoration: none;
  --text-p-small-400-italic-font-family: Inter;
  --text-p-small-400-italic-font-weight: 400;
  --text-p-small-400-italic-line-height: 1.5rem;
  --text-p-small-400-italic-font-size: 0.875rem;
  --text-p-small-400-italic-letter-spacing: 0em;
  --text-p-small-400-italic-paragraph-spacing: 1rem;
  --text-p-small-400-italic-paragraph-indent: 0;
  --text-p-small-400-italic-text-case: none;
  --text-p-small-400-italic-text-decoration: none;
  --text-p-small-600-font-family: Inter;
  --text-p-small-600-font-weight: 600;
  --text-p-small-600-line-height: 1.5rem;
  --text-p-small-600-font-size: 0.875rem;
  --text-p-small-600-letter-spacing: 0em;
  --text-p-small-600-paragraph-spacing: 1rem;
  --text-p-small-600-paragraph-indent: 0;
  --text-p-small-600-text-case: none;
  --text-p-small-600-text-decoration: none;
  --text-p-small-600-italic-font-family: Inter;
  --text-p-small-600-italic-font-weight: 600;
  --text-p-small-600-italic-line-height: 1.5rem;
  --text-p-small-600-italic-font-size: 0.875rem;
  --text-p-small-600-italic-letter-spacing: 0em;
  --text-p-small-600-italic-paragraph-spacing: 1rem;
  --text-p-small-600-italic-paragraph-indent: 0;
  --text-p-small-600-italic-text-case: none;
  --text-p-small-600-italic-text-decoration: none;
  --text-p-default-400-font-family: Inter;
  --text-p-default-400-font-weight: 400;
  --text-p-default-400-line-height: 1.5rem;
  --text-p-default-400-font-size: 1rem;
  --text-p-default-400-letter-spacing: 0em;
  --text-p-default-400-paragraph-spacing: 1rem;
  --text-p-default-400-paragraph-indent: 0;
  --text-p-default-400-text-case: none;
  --text-p-default-400-text-decoration: none;
  --text-p-default-400-italic-font-family: Inter;
  --text-p-default-400-italic-font-weight: 400;
  --text-p-default-400-italic-line-height: 1.5rem;
  --text-p-default-400-italic-font-size: 1rem;
  --text-p-default-400-italic-letter-spacing: 0em;
  --text-p-default-400-italic-paragraph-spacing: 1rem;
  --text-p-default-400-italic-paragraph-indent: 0;
  --text-p-default-400-italic-text-case: none;
  --text-p-default-400-italic-text-decoration: none;
  --text-p-default-600-font-family: Inter;
  --text-p-default-600-font-weight: 600;
  --text-p-default-600-line-height: 1.5rem;
  --text-p-default-600-font-size: 1rem;
  --text-p-default-600-letter-spacing: 0em;
  --text-p-default-600-paragraph-spacing: 1rem;
  --text-p-default-600-paragraph-indent: 0;
  --text-p-default-600-text-case: none;
  --text-p-default-600-text-decoration: none;
  --text-p-default-600-italic-font-family: Inter;
  --text-p-default-600-italic-font-weight: 600;
  --text-p-default-600-italic-line-height: 1.5rem;
  --text-p-default-600-italic-font-size: 1rem;
  --text-p-default-600-italic-letter-spacing: 0em;
  --text-p-default-600-italic-paragraph-spacing: 1rem;
  --text-p-default-600-italic-paragraph-indent: 0;
  --text-p-default-600-italic-text-case: none;
  --text-p-default-600-italic-text-decoration: none;
  --text-p-large-400-font-family: Inter;
  --text-p-large-400-font-weight: 400;
  --text-p-large-400-line-height: 2rem;
  --text-p-large-400-font-size: 1.25rem;
  --text-p-large-400-letter-spacing: 0em;
  --text-p-large-400-paragraph-spacing: 2rem;
  --text-p-large-400-paragraph-indent: 0;
  --text-p-large-400-text-case: none;
  --text-p-large-400-text-decoration: none;
  --text-p-large-400-italic-font-family: Inter;
  --text-p-large-400-italic-font-weight: 400;
  --text-p-large-400-italic-line-height: 2rem;
  --text-p-large-400-italic-font-size: 1.25rem;
  --text-p-large-400-italic-letter-spacing: 0em;
  --text-p-large-400-italic-paragraph-spacing: 2rem;
  --text-p-large-400-italic-paragraph-indent: 0;
  --text-p-large-400-italic-text-case: none;
  --text-p-large-400-italic-text-decoration: none;
  --text-p-large-600-font-family: Inter;
  --text-p-large-600-font-weight: 600;
  --text-p-large-600-line-height: 2rem;
  --text-p-large-600-font-size: 1.25rem;
  --text-p-large-600-letter-spacing: 0em;
  --text-p-large-600-paragraph-spacing: 2rem;
  --text-p-large-600-paragraph-indent: 0;
  --text-p-large-600-text-case: none;
  --text-p-large-600-text-decoration: none;
  --text-p-large-600-italic-font-family: Inter;
  --text-p-large-600-italic-font-weight: 600;
  --text-p-large-600-italic-line-height: 2rem;
  --text-p-large-600-italic-font-size: 1.25rem;
  --text-p-large-600-italic-letter-spacing: 0em;
  --text-p-large-600-italic-paragraph-spacing: 2rem;
  --text-p-large-600-italic-paragraph-indent: 0;
  --text-p-large-600-italic-text-case: none;
  --text-p-large-600-italic-text-decoration: none;
  --text-line-tiny-400-font-family: Inter;
  --text-line-tiny-400-font-weight: 400;
  --text-line-tiny-400-line-height: 1rem;
  --text-line-tiny-400-font-size: 0.75rem;
  --text-line-tiny-400-letter-spacing: 0em;
  --text-line-tiny-400-paragraph-spacing: 0;
  --text-line-tiny-400-paragraph-indent: 0;
  --text-line-tiny-400-text-case: none;
  --text-line-tiny-400-text-decoration: none;
  --text-line-tiny-400-italic-font-family: Inter;
  --text-line-tiny-400-italic-font-weight: 400;
  --text-line-tiny-400-italic-line-height: 1rem;
  --text-line-tiny-400-italic-font-size: 0.75rem;
  --text-line-tiny-400-italic-letter-spacing: 0em;
  --text-line-tiny-400-italic-paragraph-spacing: 0;
  --text-line-tiny-400-italic-paragraph-indent: 0;
  --text-line-tiny-400-italic-text-case: none;
  --text-line-tiny-400-italic-text-decoration: none;
  --text-line-tiny-600-font-family: Inter;
  --text-line-tiny-600-font-weight: 600;
  --text-line-tiny-600-line-height: 1rem;
  --text-line-tiny-600-font-size: 0.75rem;
  --text-line-tiny-600-letter-spacing: 0em;
  --text-line-tiny-600-paragraph-spacing: 0;
  --text-line-tiny-600-paragraph-indent: 0;
  --text-line-tiny-600-text-case: none;
  --text-line-tiny-600-text-decoration: none;
  --text-line-tiny-600-italic-font-family: Inter;
  --text-line-tiny-600-italic-font-weight: 600;
  --text-line-tiny-600-italic-line-height: 1rem;
  --text-line-tiny-600-italic-font-size: 0.75rem;
  --text-line-tiny-600-italic-letter-spacing: 0em;
  --text-line-tiny-600-italic-paragraph-spacing: 0;
  --text-line-tiny-600-italic-paragraph-indent: 0;
  --text-line-tiny-600-italic-text-case: none;
  --text-line-tiny-600-italic-text-decoration: none;
  --text-line-small-400-font-family: Inter;
  --text-line-small-400-font-weight: 400;
  --text-line-small-400-line-height: 1.25rem;
  --text-line-small-400-font-size: 0.875rem;
  --text-line-small-400-letter-spacing: 0em;
  --text-line-small-400-paragraph-spacing: 0;
  --text-line-small-400-paragraph-indent: 0;
  --text-line-small-400-text-case: none;
  --text-line-small-400-text-decoration: none;
  --text-line-small-400-italic-font-family: Inter;
  --text-line-small-400-italic-font-weight: 400;
  --text-line-small-400-italic-line-height: 1.25rem;
  --text-line-small-400-italic-font-size: 0.875rem;
  --text-line-small-400-italic-letter-spacing: 0em;
  --text-line-small-400-italic-paragraph-spacing: 0;
  --text-line-small-400-italic-paragraph-indent: 0;
  --text-line-small-400-italic-text-case: none;
  --text-line-small-400-italic-text-decoration: none;
  --text-line-small-600-font-family: Inter;
  --text-line-small-600-font-weight: 600;
  --text-line-small-600-line-height: 1.25rem;
  --text-line-small-600-font-size: 0.875rem;
  --text-line-small-600-letter-spacing: 0em;
  --text-line-small-600-paragraph-spacing: 0;
  --text-line-small-600-paragraph-indent: 0;
  --text-line-small-600-text-case: none;
  --text-line-small-600-text-decoration: none;
  --text-line-small-600-italic-font-family: Inter;
  --text-line-small-600-italic-font-weight: 600;
  --text-line-small-600-italic-line-height: 1.25rem;
  --text-line-small-600-italic-font-size: 0.875rem;
  --text-line-small-600-italic-letter-spacing: 0em;
  --text-line-small-600-italic-paragraph-spacing: 0;
  --text-line-small-600-italic-paragraph-indent: 0;
  --text-line-small-600-italic-text-case: none;
  --text-line-small-600-italic-text-decoration: none;
  --text-line-default-400-font-family: Inter;
  --text-line-default-400-font-weight: 400;
  --text-line-default-400-line-height: 1.25rem;
  --text-line-default-400-font-size: 1rem;
  --text-line-default-400-letter-spacing: 0em;
  --text-line-default-400-paragraph-spacing: 0;
  --text-line-default-400-paragraph-indent: 0;
  --text-line-default-400-text-case: none;
  --text-line-default-400-text-decoration: none;
  --text-line-default-400-italic-font-family: Inter;
  --text-line-default-400-italic-font-weight: 400;
  --text-line-default-400-italic-line-height: 1.25rem;
  --text-line-default-400-italic-font-size: 1rem;
  --text-line-default-400-italic-letter-spacing: 0em;
  --text-line-default-400-italic-paragraph-spacing: 0;
  --text-line-default-400-italic-paragraph-indent: 0;
  --text-line-default-400-italic-text-case: none;
  --text-line-default-400-italic-text-decoration: none;
  --text-line-default-600-font-family: Inter;
  --text-line-default-600-font-weight: 600;
  --text-line-default-600-line-height: 1.25rem;
  --text-line-default-600-font-size: 1rem;
  --text-line-default-600-letter-spacing: 0em;
  --text-line-default-600-paragraph-spacing: 0;
  --text-line-default-600-paragraph-indent: 0;
  --text-line-default-600-text-case: none;
  --text-line-default-600-text-decoration: none;
  --text-line-default-600-italic-font-family: Inter;
  --text-line-default-600-italic-font-weight: 600;
  --text-line-default-600-italic-line-height: 1.25rem;
  --text-line-default-600-italic-font-size: 1rem;
  --text-line-default-600-italic-letter-spacing: 0em;
  --text-line-default-600-italic-paragraph-spacing: 0;
  --text-line-default-600-italic-paragraph-indent: 0;
  --text-line-default-600-italic-text-case: none;
  --text-line-default-600-italic-text-decoration: none;
  --text-line-large-400-font-family: Inter;
  --text-line-large-400-font-weight: 400;
  --text-line-large-400-line-height: 1.5rem;
  --text-line-large-400-font-size: 1.25rem;
  --text-line-large-400-letter-spacing: 0em;
  --text-line-large-400-paragraph-spacing: 0;
  --text-line-large-400-paragraph-indent: 0;
  --text-line-large-400-text-case: none;
  --text-line-large-400-text-decoration: none;
  --text-line-large-400-italic-font-family: Inter;
  --text-line-large-400-italic-font-weight: 400;
  --text-line-large-400-italic-line-height: 1.5rem;
  --text-line-large-400-italic-font-size: 1.25rem;
  --text-line-large-400-italic-letter-spacing: 0em;
  --text-line-large-400-italic-paragraph-spacing: 0;
  --text-line-large-400-italic-paragraph-indent: 0;
  --text-line-large-400-italic-text-case: none;
  --text-line-large-400-italic-text-decoration: none;
  --text-line-large-600-font-family: Inter;
  --text-line-large-600-font-weight: 600;
  --text-line-large-600-line-height: 1.5rem;
  --text-line-large-600-font-size: 1.25rem;
  --text-line-large-600-letter-spacing: 0em;
  --text-line-large-600-paragraph-spacing: 0;
  --text-line-large-600-paragraph-indent: 0;
  --text-line-large-600-text-case: none;
  --text-line-large-600-text-decoration: none;
  --text-line-large-600-italic-font-family: Inter;
  --text-line-large-600-italic-font-weight: 600;
  --text-line-large-600-italic-line-height: 1.5rem;
  --text-line-large-600-italic-font-size: 1.25rem;
  --text-line-large-600-italic-letter-spacing: 0em;
  --text-line-large-600-italic-paragraph-spacing: 0;
  --text-line-large-600-italic-paragraph-indent: 0;
  --text-line-large-600-italic-text-case: none;
  --text-line-large-600-italic-text-decoration: none;
  --text-list-default-400-font-family: Inter;
  --text-list-default-400-font-weight: 400;
  --text-list-default-400-line-height: 1.25rem;
  --text-list-default-400-font-size: 1rem;
  --text-list-default-400-letter-spacing: 0em;
  --text-list-default-400-paragraph-spacing: 0.5rem;
  --text-list-default-400-paragraph-indent: 0;
  --text-list-default-400-text-case: none;
  --text-list-default-400-text-decoration: none;
  --text-list-default-600-font-family: Inter;
  --text-list-default-600-font-weight: 600;
  --text-list-default-600-line-height: 1.25rem;
  --text-list-default-600-font-size: 1rem;
  --text-list-default-600-letter-spacing: 0em;
  --text-list-default-600-paragraph-spacing: 0.5rem;
  --text-list-default-600-paragraph-indent: 0;
  --text-list-default-600-text-case: none;
  --text-list-default-600-text-decoration: none;
  --label-tiny-400-font-family: Inter;
  --label-tiny-400-font-weight: 400;
  --label-tiny-400-line-height: 1rem;
  --label-tiny-400-font-size: 0.75rem;
  --label-tiny-400-letter-spacing: 0em;
  --label-tiny-400-paragraph-spacing: 0;
  --label-tiny-400-paragraph-indent: 0;
  --label-tiny-400-text-case: none;
  --label-tiny-400-text-decoration: none;
  --label-tiny-600-font-family: Inter;
  --label-tiny-600-font-weight: 600;
  --label-tiny-600-line-height: 1rem;
  --label-tiny-600-font-size: 0.75rem;
  --label-tiny-600-letter-spacing: 0em;
  --label-tiny-600-paragraph-spacing: 0;
  --label-tiny-600-paragraph-indent: 0;
  --label-tiny-600-text-case: none;
  --label-tiny-600-text-decoration: none;
  --label-small-400-font-family: Inter;
  --label-small-400-font-weight: 400;
  --label-small-400-line-height: 1rem;
  --label-small-400-font-size: 0.875rem;
  --label-small-400-letter-spacing: 0em;
  --label-small-400-paragraph-spacing: 0;
  --label-small-400-paragraph-indent: 0;
  --label-small-400-text-case: none;
  --label-small-400-text-decoration: none;
  --label-small-600-font-family: Inter;
  --label-small-600-font-weight: 600;
  --label-small-600-line-height: 1rem;
  --label-small-600-font-size: 0.875rem;
  --label-small-600-letter-spacing: 0em;
  --label-small-600-paragraph-spacing: 0;
  --label-small-600-paragraph-indent: 0;
  --label-small-600-text-case: none;
  --label-small-600-text-decoration: none;
  --label-default-400-font-family: Inter;
  --label-default-400-font-weight: 400;
  --label-default-400-line-height: 1.25rem;
  --label-default-400-font-size: 1rem;
  --label-default-400-letter-spacing: 0em;
  --label-default-400-paragraph-spacing: 0;
  --label-default-400-paragraph-indent: 0;
  --label-default-400-text-case: none;
  --label-default-400-text-decoration: none;
  --label-default-600-font-family: Inter;
  --label-default-600-font-weight: 600;
  --label-default-600-line-height: 1.25rem;
  --label-default-600-font-size: 1rem;
  --label-default-600-letter-spacing: 0em;
  --label-default-600-paragraph-spacing: 0;
  --label-default-600-paragraph-indent: 0;
  --label-default-600-text-case: none;
  --label-default-600-text-decoration: none;
  --label-large-400-font-family: Inter;
  --label-large-400-font-weight: 400;
  --label-large-400-line-height: 1.5rem;
  --label-large-400-font-size: 1.25rem;
  --label-large-400-letter-spacing: 0em;
  --label-large-400-paragraph-spacing: 0;
  --label-large-400-paragraph-indent: 0;
  --label-large-400-text-case: none;
  --label-large-400-text-decoration: none;
  --label-large-600-font-family: Inter;
  --label-large-600-font-weight: 600;
  --label-large-600-line-height: 1.5rem;
  --label-large-600-font-size: 1.25rem;
  --label-large-600-letter-spacing: 0em;
  --label-large-600-paragraph-spacing: 0;
  --label-large-600-paragraph-indent: 0;
  --label-large-600-text-case: none;
  --label-large-600-text-decoration: none;
}